body {
    background-color: #141414;
    /* color: #B8B4Bf; */
    color: white;
    /* font-family: 'Open Sans', sans-serif; */
    outline: none;
}

::selection {
    color: black;
    background: #FFFF4F;
}

/*----------------------------------Login Component----------------------------------*/

.main {
    height: 100vh;
    overflow-x: hidden;
}

.buttons {
    position: relative;
    margin-top: 50px;
    text-align: right;
    margin-right: 15px;
    z-index: 6;
}

.btn-login {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    text-align: center;
    outline: none;
    /* outline-color: white;
    outline-width: 1.5px; */
}

.btn-login:hover {
    color: #0B95D4;
}

.btn-signup {
    border: none;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 1em;
    text-transform: uppercase;
    display: inline-block;
    height: 50px;
    width: 200px;
    
    text-align: center;
    background-color: #0B95D4;
    /* color: #0b95d4; */
    color: black;
    outline: none;
}

.btn-signup:hover {
    color: white;
}

.header {
    color: white;
    margin-top: 20px;
    margin-left: 13px;
}

.welcome {
    position: relative;
    color: white;
    top: 15%;
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
}

.welcome h1 {
    display: inline-block;
    border-bottom: #0B95D4 5px solid;
}

/* .welcome h4 {
    padding-left: 25px;
    padding-bottom: 10px;
    font-weight: 100;
} */

.welcome p {
    font-size: 18px;
    padding-left: 25px;
    /* font-weight: 300 */
    color: white;
}

.blue-period {
    color: #0B95D4;
}

.matum-blue:hover {
    cursor: default;
    color: #0B95D4;
}

.matum-underline {
    text-decoration: underline;
}

.default-form {
    margin-left: 110%;
    text-align: right;
    height: 100px;
    width: 330px;
    transition: margin-left 0.25s ease-in-out;
}

.show-form {
    margin-left: 71.05%;
    text-align: right;
    height: 100px;
    width: 330px;
}

.main input {
    background-color: transparent;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    border: none;
    color: white;
    border-bottom: white solid 0.5px;
    font-size: 18px;
    font-weight: 200;
    outline: none;
    box-sizing: border-box;
    padding-left: 12px;
    padding-bottom: 5px;
}

input:hover::placeholder {
    color: #0B95D4;
}

.button-conf-signup {
    margin-top: 10px;
    height: 30px;
    width: 200px;
    background-color: white;
    color: black;
    border: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 2.5px;
    outline-color: white;
    outline-width: 1.5px;
    width: 100%;
}

.button-conf-signup:hover {
    background-color: #FFFF4F;
}

.button-hideform {
    text-align: center;
    background-color: transparent;
    padding-left: 27px;
    margin-bottom: 95px;
    height: 30px;
    width: 50px;
    background-color: transparent;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 1em;
    border: none;
    outline: none;
    font-size: 40px;
    font-weight: 100;
    /* transform: rotate(45deg); */
}

.button-hideform:hover {
    color: white;
}

.form-signup-text {
    color: #0B95D4;
}

.button-conf-login {
    margin-top: 10px;
    height: 30px;
    width: 200px;
    background-color: white;
    color: black;
    border: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 2.5px;
    outline-color: white;
    outline-width: 1.5px;
    width: 100%;
}

.button-conf-login:hover {
    background-color: #FFFF4F;
}

.login-form-default {
    width: 330px;
    left: 0;
    padding-top: 72px;
    transform: translateX(500%);
    transition: transform 0.25s ease-in-out;
}

.login-form-show {
    /* text-align: right; */
    /* transform: translateX(0%); */
    transform: translateX(245%);
}

/*----------------------------------GiphySearch----------------------------------*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2em 4em 16em repeat(3, 2em);
}
.login-btn {
    grid-column: 8;
    width: 100%;
    border: none;
    border-radius: 500px;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}

.login-btn:hover {
    /* background-color: #0B95D4; */
    background-color: #FFFF4F;
}

.title {
    padding-top: 100px;
    grid-row: 3;
    grid-column: 1 / 9;
    text-align: center;
}

.title h1 {
    border-bottom: #0B95D4 5px solid;
    display: inline-block;
}

.login {
    width: 200px;
}

/*----------------------------------HomeComponent----------------------------------*/

.home-component-wrapper {
    display : grid;
    grid-template-columns: 36vw 36vw 28vw;
    grid-template-rows: 40vh 40vh;
    grid-gap: 40px;
    margin: 40px;
}

.recent-fifty-box {
    grid-column: 1 / 3;
    grid-row: 1;
    height: 100%;
    display: grid;
    background-color: #eee;
    grid-template-columns: 1fr 600px 1fr;
}
.recent-fifty-box:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}

.playlists-box {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    background-color: #eee;

}
.playlists-box:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}

.songs-box {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    background-color: #eee;
    padding: 20px;

}
.songs-box:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}

.side-bar-box {
    grid-column: 3;
    grid-row: 1 / 3;
    background-color: #eee;
    padding: 20px;

}
.side-bar-box:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}
.home-links {

}

/*----------------------------------RecentFifty----------------------------------*/

.recent-fifty-wrapper {
    display: grid;
    grid-template-columns: 6em 14em 1fr 6em;
    grid-template-rows: 15em 1fr;
    grid-gap: 10px;
    color: black;
}

.profile-averages {
    grid-column: 3;
    background-color: #0b95d4;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    letter-spacing: 0.3em;
}

.stats-col {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.profile-averages p {
    font-weight: 600;
    text-align: left;
}

.profile-averages-inner {
    width: 100%;
    height: 80%;
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    font-weight: 300;
    text-align: center;
}

.scroll-view {
    grid-column: 3;
    grid-row: 2;
    background-color: #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}

.recent-fifty-artwork-view {
    grid-column: 2;
    grid-row: 2;
    background-color: #EEEEEE;
    font-weight: 600;
    letter-spacing: 0.4em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}

.artwork-wrapper {
    width: 159.56px;
    height: 159.56px;
    margin-bottom: 1.5em;
    border-radius: 2px;
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.artwork-wrapper img {
    height: 100%;
    width: 100%;
}
.artwork-wrapper:hover {
    transform: scale(1.065);
    cursor: pointer;
}

.song-component {
    height: 200px;
    background-color: #0b95d4;
    margin: 10px;
}

.song-wrapper {
    width: 100%;
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 1.5em;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.gifify-btn {
    display: inline-block;
    border: 0.5px solid #adadad;
    border-radius: 3px;
    outline: none;
    color: black;
    background-color: #f5f5f5;
    width: 100%;
    height: 2em;
    font-weight: 400;
}

.gif-btn-container {
    position: absolute;
    transform: translateX(1505%) translateY(-200%);
    /* transform: translateY(-50%); */
}

.dance-bar {
    margin: auto;
    height: 5px;
    width: 75%;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.dance-bar-overlay {
    height: 100%;
    background-color: #FFFF4F;
    border-radius: 10px;
}

.dance-bar-average {
    margin: auto;
    height: 5px;
    width: 75%;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.dance-bar-average-overlay {
    height: 100%;
    background-color: #FFFF4F;
    border-radius: 10px;
}

.valence-bar {
    margin: auto;
    height: 5px;
    width: 75%;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.valence-bar-overlay {
    height: 100%;
    background-color: #f46fa6;
    border-radius: 10px;
}

.valence-bar-average {
    margin: auto;
    height: 5px;
    width: 75%;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.valence-bar-average-overlay {
    height: 100%;
    background-color: #f46fa6;
    border-radius: 10px;
}

.energy-bar {
    margin: auto;
    height: 5px;
    width: 75%;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.energy-bar-overlay {
    height: 100%;
    background-color: #f8952d;
    border-radius: 10px;
}

.energy-bar-average {
    margin: auto;
    height: 5px;
    width: 75%;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.energy-bar-average-overlay {
    height: 100%;
    background-color: #f8952d;
    border-radius: 10px;
}

.scroll-view span {
    text-transform: uppercase;
    left: -50%;
    transform: translateX(873.5%);
    letter-spacing: 5px;
    font-weight: 600;
}

.last-fifty-song-num {
    font-weight: 600;
    padding-left: 15px;
}

.fifty-track-artist {
    width: 96%;
    text-align: center;
    border-bottom: 1px dashed lightgrey;
    margin: auto;
}

.stats-row-fifty {
    /* margin-top: 0.5em; */
    /* margin-bottom: 0.1em; */
    text-align: center;
}

/*----------------------------------Album Art----------------------------------*/

.album-art {
    display: inline;
    height: 40vh;
    width: auto;
    margin-right: auto;
    overflow-y: scroll;
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1;
    grid-row: 1;
}
.album-art:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    grid-column: 1;
    grid-row: 1;
}

.no-margin-album {
    height: 40vh;
    margin: 0;
}

.recent-fifty-link {
    grid-column: 3;
}
.recent-fifty-link {
    grid-column: 3;
}
.overflow {
    height: 300px;
    width: 600px;
    margin-left: 15em;
    margin-top: 22em;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #eee;
}
